.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-centralDiv {
  background-color: aliceblue;
  min-height: 90vh;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em; 
}

.centralDiv-head {
  min-height: 5vh;
}

.centralDiv-textField {
  min-height: 100%;
}

.centralDiv-chatField {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.chatField-inputText {
  background-color: red;
  width: 80%;
  height: 1em;
  margin: 0 1em 0.7em 1em;
}

.chatField-button {
  width: 2em;
  height: 2em;
}

.inputText-input {
  background-color: #353a42;
  display: flex;
  height: 97%;
  min-width: 98%;
  border-radius: 0.4em; 
}

.textp-InputTextp {
  
}